:root {
  --c-black-olive: hsla(93, 7%, 26%, 1);
  --c-linen: hsla(26, 100%, 94%, 1);
  --c-jade: hsla(135, 32%, 48%, 1);
  --c-hunter-green: hsla(132, 24%, 32%, 1);
  --c-champagne-pink: hsla(26, 48%, 83%, 1);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--c-hunter-green);
  background: linear-gradient(45deg, var(--c-linen), var(--c-champagne-pink));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--c-jade);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--c-black-olive);
    background: linear-gradient(45deg, var(--c-linen), var(--c-champagne-pink));
  }
  a:hover {
    color: var(--c-jade);
  }
  button {
    background-color: #f9f9f9;
  }
}
